@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-up {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }

  .animate-slide-down {
    animation: slide-down 0.6s ease-out forwards;
  }

  .animate-slide-up {
    animation: slide-up 0.6s ease-out forwards;
  }
}